body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: blue;
    background-size: cover;
    padding: 50px;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-size: 55;
}

#alphabet {
    display: flex;
    flex-wrap: wrap; /* Allow elements to wrap on lines if there is no space. */
    justify-content: center;
    margin-top: 5px;
}

.letter-btn {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#board, #board div {
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    text-align: center;
    margin-top: 5px;
    padding: 5px;
}

#wordsToGuess {
    font-size: 50px;
}

#imgBoard {
    max-width: 35%;
    height: auto;
}

.playerInfo{
    text-align: center;
    align-items: center;
}

.playerPlaying{
    display: none;
    text-align: center;
    align-items: center;
    background-color: lightblue;
    margin: 0;
}

#stats {
    text-align: center;
}
